<div class="raid">
  <h3>Edit Template</h3>
  <%= form_for [:admin, @raid_template] do |f| %>
    <%= error_messages_for(:raid_template) %>
    <dl>
      <dt><%= f.label :name %></dt>
      <dd><%= f.text_field :name %></dd>
      <dt>Slots</dt>
      <dd id="slots">
        <% @raid_template.groups.each do |group| -%>
          <dl id="edit_slots" class="list template">
            <dt>Group <%= cycle(*(1..8).to_a) %></dt>
            <% group.each do |slot| -%>
              <dd>
                <%= f.fields_for :slots, slot do |s| %>
                  <%= s.collection_select(:role_id, Role.all, :id, :name, :include_blank => "Any") %>
                  <%= s.collection_select(:cclass_id, Cclass.all, :id, :name, :include_blank => "Any") %>
                  <%= s.select(:team, (1..4).inject([]) { |col, x| col << ["Team #{x}", x] }) %><br />
                <% end %>
              </dd>
            <% end %>
          </dl>
        <% end %>
      </dd>
      <dt></dt>
      <dd><%= submit_tag 'Save' %></dd>
    </dl>
  <% end %>
</div>
