<div class="raid">
  <h3><%= list.name %></h3>
  <dl>
    <% list.list_positions.each do |lp| %>
      <dt>
        <%= link_to(lp.account.name,
                    account_url(lp.account)) %>
        <%= lp.position %>
      </dt>
      <% lp.account.characters.each do |character| %>
        <dd>
          <%= link_to(render(:partial => "shared/character", :object => character),
                      "#{account_url(lp.account)}#character_#{character.id}") %>
        </dd>
      <% end %>
      <% if @current_account.admin %>
        <dd>
          <%= link_to("Remove", remove_from_list_account_url(lp.account),
                      :confirm => 'Are you sure you want to remove this person from the loot list?',
                      :method => :post, :class => 'tiny') %>
        </dd>
      <% end %>
    <% end %>
  </dl>
</div>
