<% form_for([raid, Loot.new(:raid => raid, :item_url => "URL", :item_name => "Name")],
            { :html => { :onsubmit => "return validate_loot();" } }) do |f| %>
  <div>
    <%= f.collection_select(:character_id,
                            raid.characters.in_loot_list.seated_in(raid),
                            :id, :name_with_account) %>
  </div>
  <div><%= f.collection_select(:location_id,
                               raid.locations,
                               :id, :name) %></div>
  <div><%= f.text_field :item_url, :class => 'dim', :onfocus => "field_focus(this);", :onblur => "field_blur(this);" %></div>
  <div><%= f.text_field :item_name, :class => 'dim', :onfocus => "field_focus(this);", :onblur => "field_blur(this);" %></div>
  <div><%= submit_tag("Save", :id => "loot_submit") %></div>
<% end %>
