<tr id="raid_<%= raid.id %>" class="<%= cycle("even", "odd") %>">
  <td class="raidname"><b><%= link_to(raid.display_name, raid_url(raid.id)) %></b></td>
  <td><% if raid.finalized %>Yes<% else %>No<% end %></td>
  <td><%= render(:partial => "raids/signup",
                 :collection => raid.signups_from(@current_account),
                 :spacer_template => "raids/signup_spacer") %></td>
  <td><%= raid.date ? raid.date.to_s(:raid) : "" %></td>
  <td>Level
    <% if raid.min_level == raid.max_level -%>
      <%= raid.min_level %>
    <% else -%>
      <%= raid.min_level %>-<%= raid.max_level %>
    <% end -%>
    <% if raid.instance.requires_key %><br/>Key Required<% end %>
  </td>
  <td>
    <% raid.needed.each do |need| %>
      <%= need[1] %><%= render(:partial => "shared/slot", :object => need[0]) %><br/>
    <% end %>
  </td>
  <td>
    <% if @current_account.can_edit(raid) && raid.can_be_deleted? %>
      <span id="loader_<%= raid.id %>">
        <%= link_to_remote "Delete",
            :url => raid_url(raid),
            :confirm=>"Are you sure you want to delete #{raid.display_name}?",
            :method => :delete, 
            :loading => update_page{|page| 
                page["loader_#{raid.id}"].replace_html image_tag("loading.gif")
            } %>
      </span>
    <% end %>
  </td>
</tr>
