<% if slot.signup %>
  <% content_tag_for(:dd, slot, :class => slot.signup.classes) do %>
    <%= render(:partial => "shared/character", :object => slot.signup.character) %>
    <%= "*" if slot.signup.has_other_signups %>
    <% if slot.team > 1 %><span class="team"><%= slot.team %></span><% end %>
    <div class="note">
      <%= render(:partial => "slots/note",
                 :locals => { :slot => slot }) %>
    </div>
  <% end %>
<% else %>
  <% content_tag_for(:dd, slot) do %>
    <%= render(:partial => "shared/slot", :object => slot) %>
    <% if slot.team > 1 %><span class="team"><%= slot.team %></span><% end %>
    <div class="note">
      Drag a character here from another slot or the waiting list to seat them
      here. Only characters allowed into this slow will be able to be dropped
      here.
    </div>
  <% end %>
<% end %>
