%td{ :id => "tags_#{signup.id}" }
  %ul
    - signup.raider_tags.map do |raider_tag|
      %li
        = raider_tag
        = link_to 'remove', raid_account_raider_tag_path(sign.raid, signup.account, raider_tag), :remote => true, :method => :delete, :class => 'tiny'
    - unless (Tag.all - signup.tags).empty?
      %li
        = form_for [signup.raid, signup.account, RaiderTag.new], :remote => true, :index => signup.id, :html => {:id => "new_raider_tag_#{signup.id}"} do |f|
          = f.collection_select :tag_if, Tag.all - signup.tags, :id, :name, :include_blank => true
          = hidden_field_tag :signup_id, signup.id
          = f.submit 'Add', :id => "raider_tag_#{signup.id}_submit"
