<% div_for(@raid) do %>
  <h3>Edit Raid</h3>
  <% form_for(@raid) do |f| %>
    <dl>
      <dt>Name:</dt><dd><%= f.text_field :name %></dd>
      <dt>Date:</dt>
      <dd>
        <%= text_field_tag "caldate", @raid.caldate, :size => 10 %>
        @
        <%= text_field_tag "caltime", @raid.caltime, :size => 8 %>
      </dd>
      <dt>Instances:</dt>
      <dd>
        <ul id="locations">
          <% f.fields_for :locations do |l| %>
            <li>
              <%= l.collection_select(:instance_id,
                                      l.object.new_record? ? (Instance.active - @raid.instances) : Instance.active,
                  :id, :name, :include_blank => l.object.new_record?) %>
              <% unless l.object.new_record? %>
                <%= l.check_box '_delete' %>
                <%= l.label '_delete', 'Remove' %>
              <% end %>
            </li>
          <% end %>
        </ul>
      </dd>
      <dt>Loot:</dt>
      <dd><%= f.text_area :loot_note, :rows => 5, :cols => 40 %></dd>
      <dt>Note:</dt>
      <dd><%= f.text_area :note, :rows => 5, :cols => 40 %></dd>
      <% if @current_account.admin %>
        <dt>Uses Loot System?</dt>
        <dd><%= f.check_box :uses_loot_system %></dd>
      <% end %>
      <dt>Groups:</dt>
      <dd>
        <% @raid.groups.each do |group| -%>
          <dl id="edit_slots" class="list">
            <dt>Group <%= cycle(*(1..8).to_a) %></dt>
            <% group.each do |slot| -%>
              <dd>
                <% f.fields_for :slots, slot do |s| -%>
                  <%= s.collection_select(:role_id, @roles, :id, :name, :include_blank => "Any") %>
                  <%= s.collection_select(:cclass_id, @cclasses, :id, :name, :include_blank => "Any") %><br />
                <% end -%>
              </dd>
            <% end -%>
          </dl>
        <% end -%>
      </dd>
      <dt></dt>
      <dd>
        <p class="note">
          Once you edit a slot type, it will unset it's character (if it was
          set) and not allow you to change it. This is to prevent invalid
          states. Finish editing your slots and save the raid in order to edit
          characters from the main raid page itself.
        </p>
      </dd>
      <dt></dt>
      <dd><%= submit_tag "Save" %></dd>
    </dl>
  <% end %>
<% end %>

<% javascript_tag do %>
$('#caldate').datepicker();
$('#caltime').timepickr({ convention: 12, val: '<%= @raid.caltime %>', rangeMin: ['00', '30'], suffix: ['pm', 'am']});
<% end %>
