<% div_for(@raid) do %>
  <h3>Edit Raid</h3>
  <% form_for(@raid) do |f| %>
    <dl>
      <dt>Name:</dt><dd><%= f.text_field :name %></dd>
      <dt>Date:</dt>
      <dd>
        <%= text_field_tag "caldate", @raid.caldate, :size => 10 %>
        @
        <%= text_field_tag "caltime", @raid.caltime, :size => 8 %>
      </dd>
      <dt>Instances:</dt>
      <dd>
        <ul id="locations">
          <% @raid.locations.each do |location| %>
            <li>
              <% f.fields_for :locations, location do |l| %>
                <% if l.object.new_record? or l.object.instance.active %>
                  <%= l.collection_select(:instance_id,
                                          l.object.new_record? ? (Instance.active - @raid.instances) : Instance.active,
                      :id, :name, :include_blank => l.object.new_record?) %>
                  <% unless l.object.new_record? %>
                    <%= l.check_box '_destroy %>
                    <%= l.label '_destroy, 'Remove' %>
                  <% end %>
                <% else %>
                  <%= l.object.instance.name %>
                <% end %>
              <% end %>
            </li>
          <% end %>
        </ul>
      </dd>
      <dt>Loot:</dt>
      <dd><%= f.text_area :loot_note, :rows => 5, :cols => 40 %></dd>
      <dt>Note:</dt>
      <dd><%= f.text_area :note, :rows => 5, :cols => 40 %></dd>
      <% if @current_account.admin %>
        <dt>Uses Loot System?</dt>
        <dd><%= f.check_box :uses_loot_system %></dd>
      <% end %>
      <dt>Groups:</dt>
      <dd>
        <% @raid.groups.each do |group| -%>
          <dl id="edit_slots" class="list">
            <dt>Group <%= cycle(*(1..8).to_a) %></dt>
            <% group.each do |slot| -%>
              <dd>
                <% f.fields_for :slots, slot do |s| -%>
                  <%= s.collection_select(:role_id, @roles, :id, :name, { :include_blank => "Any" }, { :class => 'slot_select' })%>
                  <%= s.collection_select(:cclass_id, @cclasses, :id, :name, { :include_blank => "Any" }, { :class => 'slot_select' }) %><br/>
                <% end -%>
              </dd>
            <% end -%>
          </dl>
        <% end -%>
      </dd>
      <dt>Slots:</dt>
      <dd>
        <%= f.collection_select(:template_id, ::Template.all,
                                :id, :name,
                                { :include_blank => true },
                                { :onchange => 'raid_edit_slots(this);' }) %>
        <p class="note">
          Leave this blank if you don't want to bulk edit the slots. This will
          apply the selected template to the raid. This includes adding
          <strong>and</strong> removing slots. If a slot changes type and the
          current sign up isn't compatible, that signup will go back to the
          waiting list.
        </p>
      </dd>
      <dt></dt>
      <dd><%= submit_tag "Save" %></dd>
    </dl>
  <% end %>
<% end %>

<% javascript_tag do %>
$('#caldate').datepicker();
$('#caltime').timepickr({ convention: 12, val: '<%= @raid.caltime %>', rangeMin: ['00', '30'], suffix: ['pm', 'am']});
<% end %>
