<%= error_messages_for(:raid) %>
<% div_for(@raid) do %>
  <h3>New Raid</h3>
  <% form_for(@raid) do |f| %>
    <dl>
      <dt>Name:</dt>
      <dd><%= f.text_field :name, :size => 30 %></dd>
      <dt>Date:</dt><dd><%= text_field_tag "caldate", @raid.caldate, :size => 10 %> @ <%= text_field_tag "caltime", @raid.caltime, :size => 8 %></dd>
      <dt>Instance:</dt>
      <dd>
        <ul>
          <% f.fields_for :locations do |l| %>
            <li><%= l.collection_select(:instance_id, Instance.active,
                                        :id, :name) %></li>
          <% end %>
        </ul>
      </dd>
      <% if @current_account.admin %>
        <dt>Uses Loot System?</dt>
        <dd><%= f.check_box :uses_loot_system %></dd>
      <% end %>
      <dt>Creator:</dt>
      <dd><%= @current_account.name %><% if @current_account.admin %> (Admin)<% end %></dd>
      <dt></dt>
      <dd><%= submit_tag %></dd>
    </dl>
  <% end %>
<% end %>

<% javascript_tag do %>
$('#caldate').datepicker();
$('#caltime').timepickr({ convention: 12, val: '<%= @raid.caltime %>', rangeMin: ['00', '30'], suffix: ['pm', 'am']});
<% end %>
