<%- if flash[:error] -%>
  <p style="color: red;"><%= flash[:error] %></p>
<%- end -%>

<%- div_for(@raid) do -%>
  <h3><%= @raid.name %></h3>
  <%- if @current_account.can_edit?(@raid) -%>
    <p><%= link_to("Edit Raid Info", edit_raid_url(@raid)) -%></p>
  <%- end -%>
  <dl>
    <dt>Finalized: </dt>
    <dd>
      <%- if @raid.finalized -%>
        Yes
        <%- if @current_account.can_edit?(@raid) -%>
          <%= link_to "Un-Finalize",
                      finalize_raid_url(@raid),
                      :method => :post,
                      :class => "tiny",
                      :confirm => "Are you sure you want to un-finalize this raid's seating?" %>
        <%- end -%>
      <%- else -%>
        No
        <%- if @current_account.can_edit?(@raid) -%>
          <%= link_to "Finalize",
                      finalize_raid_url(@raid),
                      :method => :post,
                      :class => "tiny",
                      :confirm => "Are you sure you want to finalize this raid's seating?" %>
        <%- end -%>
      <%- end -%>
    </dd>
    <dt>Created By:</dt>
    <dd><%= @raid.account.name %></dd>
    <dt>Date:</dt>
    <dd><%= @raid.date.to_s(:raid) %></dd>
    <%- if !@raid.loot_note.blank? -%>
      <dt>Loot rules:</dt>
      <dd><%= @raid.loot_note %></dd>
    <%- end -%>
    <% if @raid.locations.size > 0 %>
      <dt>Instances:</dt>
      <dd>
        <ul>
          <% @raid.locations.each do |location| %>
            <li><%= location.instance.name %></li>
          <% end %>
        </ul>
      </dd>
    <% end %>
    <%- if !@raid.note.blank? -%>
      <dt>Note:</dt>
      <dd><%= @raid.note %></dd>
    <%- end -%>
    <% if @raid.signups.from_account(@current_account).count > 0 %>
      <dt>Your Signups:</dt>
      <dd id="signup">
        <ul>
          <% @raid.signups.from_account(@current_account).each do |signup| %>
            <li>
              <%= "<strong>"if signup.preferred? %>
                <%= signup.character.name %>
              <%= "</strong>"if signup.preferred? %>
              <%= link_to signup.preferred? ? 'Unprefer' : 'Prefer', preferred_raid_signup_url(@raid, signup), :method => :post if @raid.signups.from_account(@current_account).count > 1 %>
              <%= link_to("Remove",
                          raid_signup_url(@raid, signup),
                          :confirm => "Are you sure you want to leave the raid?",
                          :class => "tiny",
                          :method => :delete) %>
            </li>
          <% end %>
        </ul>
      </dd>
    <% end %>
    <% if @current_account.characters.active.not_signed_up_for(@raid).count > 0 %>
      <dt>Signup:</dt>
      <dd id="new_signup">
        <% if @raid.started? %>
          This raid has already started, sign ups are closed!
        <% else %>
          <% form_for([@raid, Signup.new(:note => "Note")]) do |f| %>
            <div>
              <%= f.collection_select(:character_id,
                                      @current_account.characters.active.not_signed_up_for(@raid),
                                      :id, :name_with_level, {},
                                      :onchange => "character_roles(this, '#new_signup_roles');") %>
              <%= f.text_field(:note,
                               :onfocus => "field_focus(this);",
                               :onblur => "field_blur(this);",
                               :class => "dim") %>
              <%= submit_tag "Sign up" %>
            </div>
            <div id="new_signup_roles">
              <%= render(:partial => "role", :collection => @current_account.characters.active.not_signed_up_for(@raid).first.cclass.roles) %>
            </div>
          <% end %>
        <% end %>
      </dd>
    <% end %>
    <% if @current_account.can_edit?(@raid) || @raid.finalized? %>
      <dt>Slots:</dt>
      <dd id="slots">
        <%= render :partial => "group", :collection => @raid.groups %>
      </dd>
      <dt>Signups:</dt>
      <dd id="signups">
        <dl class="list" id="waiting_list">
          <%= render :partial => "waiting_list", :object => @raid.signups %>
        </dl>
        <dl class="list" id="needed_list">
          <%= render :partial => "needed", :object => @raid.needed %>
        </dl>
      </dd>
      <% if @raid.uses_loot_system or @raid.loots.count > 0 %>
        <dt>Loot:</dt>
        <dd id="loot">
          <% if @raid.uses_loot_system %>
            <dl class="list" id="loot_list">
              <%= render :partial => "positions", :locals => { :raid => @raid } %>
            </dl>
          <% end %>
          <% if @current_account.admin? %>
            <dl class="list" id="add_to_loot_list" <%= "style=\"display: none;\"" unless @raid.signups.not_in_loot_list.seated.count > 0 %>>
              <dt>Add to Loot List</dt>
              <% @raid.signups.not_in_loot_list.each do |signup| %>
                <% content_tag_for(:dd, signup.character, :class => signup.classes) do %>
                  <%= link_to(render(:partial => "shared/character", :object => signup.character),
                              add_to_list_account_url(signup.character.account),
                              :onclick => "if(confirm('Are you sure you want to add #{signup.character.account.name} to the loot list?')) { $.post('#{add_to_list_account_url(signup.character.account)}', { raid_id: '#{@raid.id}', authenticity_token: AUTH_TOKEN }, null, 'script'); } return false;") %>
                  <div class="note">
                    <%= render(:partial => "signups/note", :object => signup) %>
                  </div>
                <% end %>
              <% end %>
            </dl>
          <% end %>
          <dl class="list item_list" id="item_list">
            <%= render(:partial => "loots", :object => @raid.loots) %>
          </dl>
        </dd>
      <% end %>
      <% if @current_account.can_edit?(@raid) %>
        <% if @raid.uses_loot_system %>
          <dt>New Loot:</dt>
          <dd id="new_loot">
            <%= render :partial => "new_loot", :locals => { :raid => @raid } %>
          </dd>
          <%= render :partial => 'shared/wowhead' %>
          <% @raid.locations.each do |location| %>
            <dt><%= location.instance.name %> Loot</dt>
            <dd>
              <%= select_tag("instance_loot",
                             "<option value=\"\"></option>" + options_for_select(location.instance.loots.all(:order => "loots.item_name").map { |loot|
                                 [loot.item_name, loot.item_url]
                             }.uniq),
                             :onchange => "fill_loot_with_location($(this).find(':selected').text(), this.value, '#{location.id}');") %>
            </dd>
          <% end %>
        <% end %>
        <% if Character.not_signed_up_for(@raid).count > 0 %>
          <dt>Add Signup:</dt>
          <dd id="admin_new_signup">
            <% form_for([@raid, Signup.new(:note => "Note")]) do |f| %>
              <div>
                <%= f.collection_select(:character_id,
                                        Character.not_signed_up_for(@raid),
                                        :id, :name_with_level_and_account, {},
                                        :onchange => "character_roles(this, '#admin_new_signup_roles');") %>
                <%= f.text_field(:note,
                                 :onfocus => "field_focus(this);",
                                 :onblur => "field_blur(this);",
                                 :class => 'dim') %>
                <%= submit_tag "Sign up" %>
              </div>
              <div id="admin_new_signup_roles">
                <%= render(:partial => "characters/roles",
                           :locals => { :character => Character.not_signed_up_for(@raid).first }) %>
              </div>
            <% end %>
          </dd>
        <% end %>
        <% if @raid.signups.count > 0 %>
          <dt>Edit Signups:</dt>
          <dd id="remove_signup">
            <ul>
              <% @raid.signups.each do |signup| %>
                <li>
                  <%= signup.character.name %>
                  <% form_for [@raid, signup] do |f| %>
                    <%= f.select :no_show, Signup::NO_SHOW_OPTIONS, {}, :onchange => "$('#edit_#{dom_id(signup)}').submit();" %>
                  <% end %>
                  <%= link_to("Remove",
                              raid_signup_url(@raid, signup),
                              :confirm => "Are you sure you want to remove #{signup.character.name} from this raid?",
                              :class => "tiny",
                              :method => :delete) %>
                </li>
              <% end %>
            </ul>
          </dd>
        <% end %>
      <% end %>
    <% else %>
      <dt></dt>
      <dd>
        <p>This raid is not yet finalized. You can edit your signups above but
          until the raid is finalize you can not see the current signup
          list.</p>
        <p>Please use the note field to indicate any special requests. "Only if
        there is room", "Prefer Healing" and the like.</p>
        <p>We will try to get raids finalize at least 48 hours before they
          start. Sooner if plenty of people sign up in time.</p>
      </dd>
      <% end %>
  </dl>
<%- end # div_for @raid -%>

<% javascript_tag do %>
var raid_id = <%= @raid.id %>;

$(document).ready(function() {
  make_signup('dd#slots dd.signup, dl#waiting_list dd.signup');
  make_slot('dl#waiting_list', '*');

  <% @raid.slots.each do |slot| %>
    <% if !slot.signup %>
      make_slot('#slot_<%= slot.id %>', '<%= slot.accepts %>');
    <% end %>
  <% end %>
});
<% end if @current_account.can_edit?(@raid) %>
