<div class="raid">
  <h3>Add New Character</h3>
  <%= error_messages_for 'account', :header_message => nil, :message => nil %>
  <%= error_messages_for 'character', :header_message => nil, :message => nil %>
  <% form_for [:admin, @account] do |a| %>
    <dl>
      <dt><%= a.label :name, "Account Name" %></dt>
      <dd><%= a.text_field :name %></dd>
      <dt>Password</dt>
      <dd><%= a.password_field :change_password %></dd>
      <dt>Confirm</dt>
      <dd><%= a.password_field :password_confirmation %></dd>
      <% fields_for @character do |c| %>
        <dt><%= c.label :name, "Character Name" %></dt>
        <dd><%= c.text_field :name %></dd>
        <dt><%= c.label :cclass, "Class" %></dt>
        <dd>
          <%= c.collection_select :cclass_id, Cclass.find(:all, :order => :name), :id, :name %>
        </dd>
        <dt><%= c.label :race %></dt>
        <dd>
          <%= c.collection_select :race_id, Race.find(:all, :order => :name), :id, :name %>
        </dd>
        <dt><%= c.label :level %></dt>
        <dd><%= c.text_field :level, :size => 4 %></dd>
        <dt><%= c.label :guild %></dt>
        <dd><%= c.text_field :guild %></dd>
      <% end %>
      <dt></dt>
      <dd><%= submit_tag "Create" %></dd>
    </dl>
  <% end %>

  <h3>Rename Account</h3>
  <% form_tag rename_admin_accounts_url do %>
  <dl>
    <dt>Rename</dt>
    <dd>
      <%= select_tag(:id, options_from_collection_for_select(Account.find(:all, :order => :name), :id, :name)) %>
      to
      <%= text_field :account, :name %>
    </dd>
    <dt></dt>
    <dd><%= submit_tag "Rename" %></dd>
  </dl>
  <% end %>

  <h3>Deletable Accounts</h3>
  <dl>
    <% @deletable.each do |account| %>
      <dt><%= link_to account.name, account_url(account) %></dt>
      <% account.characters.each do |character| %>
        <dd><%= link_to(render(:partial => "shared/character", :object => character),
                        "#{account_url(account)}#character_#{character.id}") %></dd>
      <% end %>
    <% end %>
  </dl>
</div>
