<% div_for(character, :class => "raid") do %>
  <h4><%= character.name %></h4>
  <% if @current_account == character.account %>
    <p id="<%=dom_id(character)%>_edit_link">
      <%= link_to("Edit", edit_account_character_url(character.account, character),
                  :onclick => "$.get('#{edit_account_character_url(character.account, character)}', {}, null, 'script'); return false;") %>
      <% if character.raids.empty? %>
        | <span id="<%=dom_id(character)%>_delete_link">
          <%= link_to("Delete", account_character_url(character.account, character),
                      :onclick => "if(confirm('Are you sure you want to remove #{character.name}?')) { $.delete_('#{account_character_url(character.account, character)}', {}, null, 'script'); } return false;") %>
        </span>
      <% end %>
      <%= "| Inactive" if character.inactive %>
    </p>
  <% end %>
  <dl>
    <dt>Level:</dt>
    <dd><%= character.level %></dd>
    <dt>Race:</dt>
    <dd><%= character.race.name %></dd>
    <dt>Class:</dt>
    <dd><%= render(:partial => "shared/cclass", :object => character.cclass) %></dd>
    <% if !character.guild.blank? %>
      <dt>Guild:</dt>
      <dd><%= character.guild %></dd>
    <% end %>
    <% if character.loots.size > 0 %>
      <dt>Loot:</dt>
      <dd>
        <ul>
          <% character.loots.each do |loot| -%>
            <li>
              <%= link_to loot.item_name, loot.item_url, :class => 'loot' %>        
              <%= link_to(loot.location.raid.name, raid_url(loot.location.raid), :class => 'tiny') %>
            </li>
          <% end -%>
        </ul>
      </dd>
    <% end %>
  </dl>
<% end %>
