<% div_for(character, :class => "raid") do %>
  <% remote_form_for([character.account, character],
                     :loading => "$('##{dom_id(character)}_submit').attr('value', 'Saving'); $('##{dom_id(character)}_submit').disable();") do |f| %>
    <%= "<h3>New Character</h3>" if character.new_record? %>
    <dl>
      <dt>Name:</dt>
      <dd><%= f.text_field :name %></dd>
      <dt>Level:</dt>
      <dd><%= f.text_field :level, :size => 5 %></dd>
      <dt>Guild:</dt>
      <dd><%= f.text_field :guild  %></dd>
      <% if character.new_record? %>
        <dt>Race:</dt>
        <dd><%= f.collection_select(:race_id, Race.find(:all), :id, :name) %></dd>
        <dt>Class:</dt>
        <dd><%= f.collection_select(:cclass_id, Cclass.find(:all), :id, :name) %></dd>
      <% else %>
        <dt>Inactive:</dt>
        <dd>
          <%= f.check_box :inactive %>
          <p class="note">
            If you mark a character inactive they won't show up on the public
            member list, and won't be available when signing up for raids. You
            can mark them active again at any time.
          </p>
        </dd>
      <% end %>
      <dt></dt>
      <dd><%= submit_tag "Save", :id => "#{dom_id(character)}_submit" %></dd>
    </dl>
  <% end %>
<% end %>
