<%- div_for(@loot, :class => "raid") do -%>
  <h3>Edit Loot</h3>
  <% form_for [@raid, @loot] do |f| %>
  <dl>
    <dt>Character</dt>
    <dd><%= render :partial => "shared/character", :object => @loot.character %></dd>
    <dt>Item Name</dt>
    <dd><%= f.text_field :item_name %></dd>
    <dt>Item Url</dt>
    <dd><%= f.text_field :item_url %></dd>
    <dt>Instance</dt>
    <dd>
      <%= f.collection_select(:location_id,
                              @raid.locations,
                              :id, :name) %>
    </dd>
    <dt></dt>
    <dd><%= submit_tag "Save" %>
  </dl>
  <% end %>
<% end %>
      
      
