<div class="raid">
  <% if CONFIG[:auth] == 'login' %>
    <h3>Login</h3>
    <p>You can also create a <%= link_to "new account", new_account_url %></p>
    <%= form_tag :action => 'create' do %>
      <dl>
        <% if flash[:notice] %>
          <dt></dt><dd><%= flash[:notice] %></dd>
        <% end %>
        <dt>Name:</dt>
        <dd><%= text_field_tag :username %></dd>
        <dt>Password:</dt>
        <dd><%= password_field_tag :password %></dd>
        <dt></dt><dd><%= submit_tag 'Login' %></dd>
      </dl>
    <% end %>
  <% else %>
    <% if CONFIG[:forum] %>
      <p>Please log in to <%= link_to "the forum", CONFIG[:forum] %> in order to access the raid site.</p>
    <% else %>
      <p>Please login to the forum in order to access the raid site.</p>
    <% end %>
  <% end %>
</div>

