<div class="raid">
  <h3>Instance</h3>
  <%= form_for [:admin, @instance] do |f| %>
    <dl>
      <dt><%= f.label :name %></dt>
      <dd><%= f.text_field :name %></dd>
      <dt><%= f.label :active %></dt>
      <dd><%= f.check_box :active %></dd>
      <dt></dt><dd><%= f.submit %></dd></dl>
    </dl>
  <% end %>
</div>
