<div class="raid">
  <h3>Instances</h3>
  <% form_for [:admin, @new_instance] do |f| %>
    <dl>
      <% if @active.size > 0 %>
        <dt>Active</dt>
        <dd>
          <ul>
            <%= render @active %>
          </ul>
        </dd>
      <% end %>
      <% unless @new_instance.errors.empty? %>
        <dt></dt>
        <dd><%= error_messages_for(:new_instance) %></dd>
      <% end %>
      <dt><%= f.label :name, 'New Instance' %></dt>
      <dd><%= f.text_field :name %></dd>
      <dt></dt>
      <dd><%= submit_tag 'Create' %></dd>
      <% if @inactive.size > 0 %>
        <dt>Inactive</dt>
        <dd>
          <ul>
            <%= render @inactive %>
          </ul>
        </dd>
      <% end %>
    </dl>
  <% end %>
</div>
