<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
          "DTD/xhtml1-strict.dtd">
<html>
  <head>
    <title><%= @title || CONFIG[:guild] + " Raid Signups" || "World of Warcraft Raid Signup" %></title>
    <%= stylesheet_link_tag RAILS_ENV, 'jquery' %>
    <%= javascript_include_tag('jquery', 'jquery-ui', 'application') %>
    <%= javascript_include_tag('http://www.wowhead.com/widgets/power.js') %>
  </head>
  <body>
    <h1><%= CONFIG[:guild] %>: Raid Signups</h1>
    <h2>A world of warcraft raiding guild</h2>
    <div id="error" style="display: none"></div>
    <ul id="menu">
      <% if @current_account %>
        <li><%= link_to("Home", raids_url) %></li>
        <li><%= link_to("New Raid", new_raid_url) %></li>
        <li><%= link_to("Account", account_url(@current_account)) %></li>
        <li><%= link_to("Member List", accounts_url) %></li>
        <li><%= link_to("Loot", lists_url) %></li>
        <li><%= link_to("Calendars", :controller => "calendar", :action => "index") %></li>
        <% if @current_account.admin %><li><%= link_to("Admin", admin_accounts_url) %></li><% end %>
        <li><%= link_to("Forums", "http://forum.cakeordeath-guild.com") %></li>
      <% end %>
    </ul>
    <% if @current_account and @current_account.characters.size < 1 %>
      <div class="info">
        You currently have no characters created! Please head to the 
        <%= link_to("Account", account_url(@current_account)) %> page to create
        some!
      </div>
    <% end %>
    <%= yield %>
    <div id="footer">
      Lilyraid was created using <%= link_to "Ruby on Rails",
      "http://rubyonrails.org/" %> by <%= link_to "Christopher Giroir",
      "http://blog.kelsin.net" %>. You can view the <%= link_to "source",
      "http://github.com/Kelsin/lilyraid" %> at <%= link_to "GitHub",
      "http://github.com" %>. You can file <%= link_to "tickets",
      "http://valefor.lighthouseapp.com/projects/29579/" %> if you find any bugs
      or want to request new features. The source is licensed using the <%=
      link_to "GPL v.3", "http://www.gnu.org/copyleft/gpl.html" %> license.
    </div>
  </body>
</html>
