<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
          "DTD/xhtml1-strict.dtd">
<html>
  <head>
    <title><%= @title || CONFIG[:guild] + " Raid Signups" || "World of Warcraft Raid Signup" %></title>
    <%= stylesheet_link_tag RAILS_ENV, 'jquery' %>
    <%= javascript_include_tag('jquery', 'jquery-ui', 'application') %>
    <%= javascript_include_tag('http://www.wowhead.com/widgets/power.js') %>
  </head>
  <body>
    <h1><%= CONFIG[:guild] %>: Raid Signups</h1>
    <h2>A world of warcraft raiding guild</h2>
    <div id="error" style="display: none"></div>
    <%= yield %>
  </body>
</html>
