<% div_for(account, :class => "raid") do %>
  <h3><%= account.name %></h3>
  <% if @current_account == account || @current_account.admin%>
    <p id="editlink">
      <%= link_to("Edit",
                  edit_account_url(account),
                  :onclick => "$.get('#{edit_account_url(account)}', {}, null, 'script'); return false;") %>
    </p>
    <% if @current_account.admin && account.can_delete? %>
      <p>
        <%= link_to "Delete", admin_account_url(account), :method => :delete, :confirm => "Are you sure you want to delete this account?" %>
      </p>
    <% end %>
  <% end %>
  <dl>
    <% unless account.lj_account.blank? -%>
      <dt>LJ</dt>
      <dd><%= link_to account.lj_account, lj_link(account), :class => "lj" %></dd>
    <% end -%>
    <% if !account.age.blank? %>
      <dt>Age:</dt>
      <dd><%= account.age %></dd>
    <% end %>
    <% if !account.location.blank? %>
      <dt>Location:</dt>
      <dd><%= account.location %></dd>
    <% end %>
    <% if !account.bio.blank? %>
      <dt>Bio:</dt>
      <dd><%= account.bio %></dd>
    <% end %>
  </dl>
<% end %>
