<% if flash[:notice] %><%= flash[:notice] %><% end %>
<div class="raid">
  <h3>Member List</h3>
  <h4>Officers</h4>
  <dl>
    <% Account.admins.each do |account| %>
      <dt><%= link_to account.name, account_url(account) %></dt>
      <% account.characters.each do |character| %>
        <dd>
          <%= link_to(render(:partial => "shared/character", :object => character),
                      "#{account_url(account)}#character_#{character.id}") %>
        </dd>
      <% end %>
    <% end %>
  </dl>

  <h4>Members</h4>
  <dl>
    <% Account.members.each do |account| %>
      <dt><%= link_to account.name, account_url(account) %></dt>
      <% account.characters.each do |character| %>
        <dd><%= render :partial => "shared/character", :object => character %></dd>
      <% end %>
    <% end %>
  </dl>
</div>
