<div class="raid">
  <h3>New Account</h3>
  <%= error_messages_for 'account', :header_message => nil, :message => nil %>
  <p>You can create a new account by filling out the info below. If you already have an account you can <%= link_to "login", login_url %>.</p>
  <% form_for @account do |f| %>
    <dl>
      <dt>Name:</dt>
      <dd><%= f.text_field :name %></dd>
      <dt>Password:</dt>
      <dd><%= f.password_field :change_password %></dd>
      <dt>Confirm:</dt>
      <dd><%= f.password_field :password_confirmation %></dd>
    </dl>
    <p>To create an account you need to get a password from your guild master:</p>
    <dl>
      <dt></dt>
      <dd><%= password_field_tag :creation_password %></dd>
      <dt></dt>
      <dd><%= submit_tag "Create" %></dd>
    </dl>
  <% end %>
</div>
